<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="buttons2">
      <div class="button4">
        <a href="/" class="button"><button class="pixel2" style="float:left;">Go back home!</button></a>
      </div>
      <div class="button5">
        <a href="/about_me" class="button"><button class="pixel2" style="float:center;">Wait, who is Travis?</button></a>
      </div>
      <div class="button6">
        <a href="/contact" class="button"><button class="pixel2">Contact Travis</button></a>
      </div>
    </div>
  </body>
</html>
