<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "/about_me.css" %>
  </head>
  <body>

    <table class="background">
      <tr>
        <th>
          <h3>Who is Travis?</h3>
          <p>Well, first and foremost, I'm a Colorado native (#shoutout). I was born to 2 Deaf parents, and therefore learned American Sign Language as my first language.</p>
          <img class="family-photo" src="https://i.ibb.co/BVv4B1h/tucker-and-fam.png" alt="Travis and parents with dog Tucker">
          <img class="me-funny" src="https://media.giphy.com/media/LTXmtE0Gg5YmOla7H7/giphy.gif">
          <div style="clear:both;">
            <p>I was a sign language interpreter until I decided it was a bit too easy for me. Growing up with Deaf parents was kind of like cheating; I already had a mastery of the language. So I sought a challenge; how do I really challenge myself while incorporating things I'm more passionate about?</p>
            <p>I have a passion for linguistics; the study languages. I also have a passion for logic. The obvious marriage between those two concepts is computer programming.</p>
          </div>
        </th>
      </tr>
    </table>

    <table class="background2">
      <tr>
        <th>
          <p>I believe humor is one of the things the world needs more of, so I make it a point to not take myself too seriously. Of course I know when to put the humor aside and work, and I am sure to never cross any lines.</p>
          <img class="family-photo" src="https://i.ibb.co/dBHk2g7/Kiah-and-me.png" alt="Kiah-and-me">
          <img class="me-funny" src="https://i.ibb.co/5K3fdg4/Screen-Shot-2020-09-30-at-5-23-14-PM.png" alt="me as a young kid">
          <div style="clear:both;"><br>
          <img src="https://i.ibb.co/6rfp08X/Screen-Shot-2020-09-30-at-5-18-38-PM.png" alt="Denver skyline" style="height:300px;">
        </th>
      </tr>
    </table>
  </body>
</html>
