<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "/contact.css" %>
  </head>
  <body>

    <div class="buttons2">
      <div class="button5">
        <a href="/" class="button"><button class="pixel2" style="float:center;">Go back home!</button></a>
      </div>
    </div>

    <table class="contact">
      <tr>
        <th>
          <img class="travis-headshot" src="https://i.ibb.co/TY8WxK0/travis-headshot.jpg" alt="Travis headshot">
          <p>Thanks for visiting my page! There are some things I intend to continue working on, so check back often! Feel free to connect with me via LinkedIn or GitHub. I'm open to most projects but am mainly looking for a full time positon as a backend software developer.</p>
          <div class="linkedin icon" id="linkedin"><a href="https://www.linkedin.com/in/travis-mckinstry/" target="_blank"></a></div>
          <div class="github2 icon" id="github"><a href="https://github.com/TravisGM92" target="_blank"></a></div>
        </th>
      </tr>
    </table>

  </body>
</html
