<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "/contact.css" %>
  </head>
  <body>
    <div class="flipCard">
      <div class="card" onclick="this.classList.toggle('flipped');">
        <div class="side front">Keyword</div>
        <div class="side back">Definition<br/>Explanation</div>
      </div>
    </div>
  </body>
</html
