<html>
  <body>

    <div class="typewriter">
      <h1>Welcome to Travis' website...</h1>
    </div>

    <div class="buttons">
      <div class="button1">
        <a href="/about_me" class="button"><button class="pixel" style="float:left;">Who is Travis?</button></a>
      </div>
      <div class="button2">
        <a href="/surprise"><button class="pixel" style="float:center;">Not sure how I got here</button></a>
      </div>
      <div class="button3">
        <button class="pixel">Contact Travis</button>
      </div>
    </div>
  </body>
</html>
