<!DOCTYPE html>

<head>
  <meta http-equiv = "Content-Language" content = "en-us" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Home page</title>
  <style>
    body {
      background-color: white;
    }
  </style>

</head>

      </ul>
    </div>
  </nav>
  <br>
  <div class="hero-marquee">
    <div class="marquee">
      <span class="clipped-text robotics">
        <p>Welcome to Travis' Website!</p>
      </span>
    </div>
  </div>
  <div class="welcome-table2">
    <table class="welcome-table2">
      <tr>
        <th><h3 style="text-align:left;">I am a software developer and... <span></span></h3></th>
      </tr>
    </table>
  </div>

  <div class="fixed-left">
    <table class="education-table">
      <th><h3 style="margin-left:10px;margin-top:10px;">Education</h3></th>
      <tr>
        <th>
          <div class="textbox">
            <!-- <img id="mainBrain" src='./images/tools.jpg'/> -->
            <!-- <figcaption>Picture by: Lachlan Donald from Unsplash</figcaption> -->
            <br>
            <ul>
              <li> <%=link_to "Turing School of Software & Design", "https://turing.io/" %> </li>
              <p style="font-size:12px;">Backend software developer <br>June 2020 to December 2020</p>
              <li> <%=link_to "Front Range Community College", "https://www.frontrange.edu/" %> </li>
              <p style="font-size:12px;">Associate's Degree in Communications. <br>August 2013 to May 2015</p>
              <li> <%=link_to "University of Colorado, Denver", "https://www.ucdenver.edu/" %> </li>
              <p style="font-size:12px;">Bachelor's of Science in Biology <br>August 2011 to May 2013, Did not graduate</p>
            </ul>
            <br>
          </div>
        </th>
      </tr>
    </table>
  </div>


      <div class="container">
        <div class="row">
          <a href="https://i.ibb.co/N3bKg80/Kiah-and-me.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://i.ibb.co/N3bKg80/Kiah-and-me.png" alt="Kiah-and-me" class="img-fluid rounded" alt="travis headshot">
          </a>
          <a href="https://i.ibb.co/BVv4B1h/tucker-and-fam.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img id="image" src="https://i.ibb.co/BVv4B1h/tucker-and-fam.png" style="height:137px;" alt="tucker and family" class="img-fluid rounded">
          </a>
          <a href="https://i.ibb.co/6rfp08X/Screen-Shot-2020-09-30-at-5-18-38-PM.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://i.ibb.co/6rfp08X/Screen-Shot-2020-09-30-at-5-18-38-PM.png" style="height:137px; width:180px;" alt="denver skyline" class="img-fluid rounded">
          </a>
        </div>
        <div class="row">
          <a href="https://i.ibb.co/5K3fdg4/Screen-Shot-2020-09-30-at-5-23-14-PM.png" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://i.ibb.co/5K3fdg4/Screen-Shot-2020-09-30-at-5-23-14-PM.png" alt="Travis as a kid" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://media.giphy.com/media/LTXmtE0Gg5YmOla7H7/giphy.gif" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=256" alt="Colorado mountains" class="img-fluid rounded">
          </a>
        </div>
      </div>


  <div style = "clear:both;"></div>
  <div class="fixed-left">
    <table class="work-table">
      <th><h3 style="margin-left:10px;margin-top:10px;">Work Experience</h3></th>
      <tr>
        <th>
          <div class="textbox">
            <br>
            <ul>
              <li>Sign Language Interpreter</li>
              <p style="font-size:12px;">Worked as both a community sign language interpreter <br>and an interpreter in the K-12 setting.<br>Feburary 2015 to June 2020</p>
            </ul>
            <br>
          </div>
        </th>
      </tr>
    </table>
  </div>

</html>
