<!DOCTYPE html>

<head>
  <meta http-equiv = "Content-Language" content = "en-us" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Home page</title>
  <style>
    body {
      background-color: white;
    }
  </style>

</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3683bb;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./static/education.html">Education</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="./static/johns-projects.html">Machine learning</a>
        </div>

      </ul>
    </div>
  </nav>
  <br>
  <div class="hero-marquee">
    <div class="marquee">
      <span class="clipped-text robotics">
        <p>Welcome to Travis' Website!</p>
      </span>
    </div>
  </div>
  <div class="welcome-table2">
    <table class="welcome-table2">
      <tr>
        <th><h3 style="text-align:left;">I am a software developer and... <span></span></h3></th>
      </tr>
    </table>
  </div>

  <div class="fixed-left">
    <table class="education-table">
      <th><h3 style="margin-left:10px;margin-top:10px;">Education</h3></th>
      <tr>
        <th>
          <div class="textbox">
            <!-- <img id="mainBrain" src='./images/tools.jpg'/> -->
            <!-- <figcaption>Picture by: Lachlan Donald from Unsplash</figcaption> -->
            <br>
            <ul>
              <li>Turing School Of Software & Design</li>
              <p style="font-size:12px;">Backend software developer <br>June 2020 to December 2020</p>
              <li>Front Range Community College</li>
              <p style="font-size:12px;">Associate's Degree in Communications. <br>August 2013 to May 2015</p>
              <li>University of Colorado, Denver</li>
              <p style="font-size:12px;">Bachelor's of Science in Biology <br>August 2011 to May 2013, Did not graduate</p>
            </ul>
            <br>
          </div>
        </th>
      </tr>
    </table>
  </div>

      <div class="container">
        <div class="row">
          <a href="https://i.ibb.co/cvJXkL0/travis-headshot.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://i.ibb.co/cvJXkL0/travis-headshot.jpg" class="img-fluid rounded" alt="travis-headshot">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img id="image" src="https://unsplash.it/600.jpg?image=252" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=253" class="img-fluid rounded" style="margin-right:0px;">
          </a>
        </div>
        <div class="row">
          <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=254" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=255" class="img-fluid rounded">
          </a>
          <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="https://unsplash.it/600.jpg?image=256" class="img-fluid rounded">
          </a>
        </div>
      </div>


  <div style = "clear:both;"></div>
  <div class="fixed-left">
    <table class="work-table">
      <th><h3 style="margin-left:10px;margin-top:10px;">Work Experience</h3></th>
      <tr>
        <th>
          <div class="textbox">
            <!-- <img id="mainBrain" src='./images/tools.jpg'/> -->
            <!-- <figcaption>Picture by: Lachlan Donald from Unsplash</figcaption> -->
            <br>
            <ul>
              <li>Turing School Of Software & Design</li>
              <p style="font-size:12px;">Backend software developer <br>June 2020 to December 2020</p>
              <li>Front Range Community College</li>
              <p style="font-size:12px;">Associate's Degree in Communications. <br>August 2013 to May 2015</p>
              <li>University of Colorado, Denver</li>
              <p style="font-size:12px;">Bachelor's of Science in Biology <br>August 2011 to May 2013, Did not graduate</p>
            </ul>
            <br>
          </div>
        </th>
      </tr>
    </table>
  </div>
</body>

</html>
