<!DOCTYPE html>

<head>
  <meta http-equiv = "Content-Language" content = "en-us" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Home page</title>
  <style>
    body {
      background-color: white;
    }
  </style>

</head>
  <br>
  <div class="hero-marquee">
    <div class="marquee">
      <span class="clipped-text robotics1">
        <p>Things I've learned so far</p>
      </span>
    </div>
  </div>

  <div class="fixed-right">
    <table class="lessons-table">
      <tr>
        <th>
          <br>
          <ul>
            <li><p style="font-size:25px;margin-left:10px;">SQL</p>
            <p style="font-size:20px;">How to write SQL queries (not only code to read from table(s) but also aggregate SQL functions), as well as using Active Record in conjunction with SQL.</p>
            <a href="https://i.ibb.co/LtX8CTj/Screen-Shot-2020-10-01-at-7-21-52-PM.png"><img src="https://i.ibb.co/LtX8CTj/Screen-Shot-2020-10-01-at-7-21-52-PM.png" alt="SQL query code" id="code-snipet"></a>
            <br><br>
            <li><p style="font-size:25px;margin-left:10px;"><%=link_to "MVC Design Patterns", "/skills/mvc" %></p></li><p style="font-size:20px;">We learned not only how to structure an application while adhering to MVC principles, but also implementing CRUD functionality. To see the CRUD functionality in action, click the 'MVC' link above.</p><br>
            <li><p style="font-size:25px;margin-left:10px;"><%=link_to "HTML/CSS", "/skills" %></p></li><p style="font-size:20px;">Through Turing we leanred basic HTML/CSS. I've taken it upon myself to learn a bit more than basic HTML/CSS principles, as should be evident throughout this website, but I've also created a bit of a front-end project which you can view by clicking the 'HTML/CSS' link above.</p>
            <br>
          </ul>
        </th>
      </tr>
    </table>
  </div>


  </html>
