<!DOCTYPE html>

<head>
  <meta http-equiv = "Content-Language" content = "en-us" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <title>Home page</title>
  <style>
    body {
      background-color: white;
    }
  </style>

</head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3683bb;">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about_me">Who Is Travis?</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://travisgm92.github.io/web_proj2/">Machine learning</a>
        </div>
        <li class="nav-item">
          <a class="nav-link" href="">Sweet Skillz<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <div class="hero-marquee">
    <div class="marquee">
      <span class="clipped-text robotics1">
        <p>Things I've learned so far</p>
      </span>
    </div>
  </div>

  <div class="fixed-right">
    <table class="lessons-table">
      <tr>
        <th>
          <br>
          <ul>
            <li><p style="font-size:25px;margin-left:10px;"><%=link_to "SQL", "/skills" %></p></li><p style="font-size:20px;">How to write SQL queries (not only code to read from table(s) but also aggregate SQL functions), as well as using Active Record in conjunction with SQL. Click 'SQL' above to see some examples.</p>
            <a href="https://i.ibb.co/LtX8CTj/Screen-Shot-2020-10-01-at-7-21-52-PM.png"><img src="https://i.ibb.co/LtX8CTj/Screen-Shot-2020-10-01-at-7-21-52-PM.png" alt="SQL query code" id="code-snipet"></a>
            <br><br>
            <li><p style="font-size:25px;margin-left:10px;"><%=link_to "MVC Design Patterns", "/skills" %></p></li><p style="font-size:20px;">We learned not only how to structure an application while adhering to MVC principles, but also implementing CRUD functionality. To see the CRUD functionality in action, click the 'MVC' link above.</p><br>
            <li><p style="font-size:25px;margin-left:10px;"><%=link_to "HTML/CSS", "/skills" %></p></li><p style="font-size:20px;">Through Turing we leanred basic HTML/CSS. I've taken it upon myself to learn a bit more than basic HTML/CSS principles, as should be evident throughout this website, but I've also created a bit of a front-end project which you can view by clicking the 'HTML/CSS' link above.</p>
            <br>
          </ul>
        </th>
      </tr>
    </table>
  </div>


  </html>
