/* photos */
.family-photo{
  width: 200px;
  height: auto;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.me-funny{
  width: 200px;
  height: auto;
  float: left;
  margin-left: 10px;
  border-radius: 5px;
}

table.background{
  margin-top: 10px;
  margin-left: 20px;
  background-color: white;
  width: 45%;
  float: left;
  border-radius: 10px;
}
.background h3{
  font-size: 25px;
  text-align: left;
  color: rgb(62, 62, 62);
  margin-left: 10px;
}

.background p{
  font-size: 18px;
  text-align: left;
  color: rgb(62, 62, 62);
  margin-left: 10px;
  margin-bottom: 29px;
}

table.background2{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  background-color: white;
  width: 45%;
  float: right;
  border-radius: 10px;
}

.background2 h3{
  font-size: 25px;
  text-align: left;
  color: rgb(62, 62, 62);
  margin-left: 10px;
}

.background2 p{
  font-size: 18px;
  text-align: left;
  color: rgb(62, 62, 62);
  margin-left: 10px;
}

.space{
  margin-bottom: 100px;
}

.space1{
  margin-top: 20px;
}

.buttons2{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.button4{
  margin-left:20px;
  float: left;
}
.button5{
  display: inline-block;
  margin:0 auto;
}
.button6{
  float: right;
  margin-right:20px;
}

.buttons3{
  margin-top:20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.button8{
  display: inline-block;
  margin:0 auto;
}

.pixel3{
  margin-top:20px;
  position: relative;
  width: 300px;
  height: 120px;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #06C1DE;
  border: none;
  border-radius: 24px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  outline: none;
}


.pixel2 {
    /* display: block; */
    position: relative;
    width: 300px;
    height: 120px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #06C1DE;
    border: none;
    border-radius: 24px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    outline: none;
}
.pixel2::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 120px;
    top: 12px;
    left: 0;
    background-color: #047E91;
    border-radius: 24px;
    z-index: -1;
}
.pixel2:hover {
    background-color: #06B6D1;
}
.pixel2:active {
    top: 10px;
}
.pixel2:active::after {
    top: 2px;
}
